language: python
sudo: false
python:
  - "2.7"
  - "3.4"
  - "3.5"
cache: pip
install:
  - pip install -r requirements_dev.txt
  - pip install coveralls
env:
  - INTEGRATION_TARGET=
  - INTEGRATION_TARGET=atf
  - INTEGRATION_TARGET=epa
  - INTEGRATION_TARGET=fec
  - INTEGRATION_TARGET=uspto
matrix:
  include:
    - python: 3.5
      dist: trusty
      sudo: required
      services:
        - docker
      env:
        - INTEGRATION_TARGET=uspto
        - DOCKER_BUILD=Yep
script:
  - ./test-travis.sh
after_success:
  - if [[ $INTEGRATION_TARGET = '' ]] && [[ $TRAVIS_PYTHON_VERSION = '2.7' ]]; then coveralls; fi
